<div><%= flash[:notice] %></div>
<div>
    <h1>Hi! 歡迎來到投票系統</h1>   
    <%= link_to 'Add Candidate', new_candidate_path %>
    <table>
        <tr>
          <td>Name</td>
          <td>Party</td>
          <td>Age</td>
          <td>Politics</td>
          <td>Action</td>
        </tr>
      
        <% @candidates.each do |candidate| %>
        <tr>
          <td><%= link_to candidate.name, candidate_path(candidate.id) %></td>
          <td><%=candidate.party %></td>
          <td><%=candidate.age %></td>
          <td><%= link_to 'update', edit_candidate_path(candidate.id)%></td>
          <td><%= link_to 'delete', candidate_path(candidate.id), method: 'delete', data: {confirm: 'are you sure?!'}%></td>
          <td>Action</td>
        </tr>
        <% end %>
      </table>

</div>