<h1>Add Candidate</h1>
<%= form_for(Candidate.new) do |form| %> 
<div>
    <%= form.label :姓名 %>
    <%= form.text_field :name %> 
</div>
<div>
    <%= form.label :政黨 %>
    <%= form.text_field :party %>
</div>
<div>
    <%= form.label :年齡 %>
    <%= form.text_field :age %>
</div>
<div>
    <%= form.label :政見 %>
    <%= form.text_field :politics %>
</div>

<%= form.submit %>

<% end %>